* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/*css3 design scrollbar*/
::-webkit-scrollbar {
  width: 0;
}

.container .nav-pills .nav-link.active {
    color: #0d6efd!important;
    background-color: white;
}

.h-12 {
  height: 12%!important;
}

.fs-7 {
  font-size: 0.85rem!important;
}
